<div class="py-5 px-4 bg-secondary text-center">
  <div class="container">
    <h1 class="text-white font-weight-bold">Contactame</h1>
  <p class="text-white">Dejame tu correo y me contactaré contigo</p>
  <form class="form-inline justify-content-center">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Deja tu correo aquí">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Enviar</button>
          </div>
        </div>
  </form>
  <div class="py-4 bg-secondary text-center">
    <p class="m-0 text-white">
        &copy; <a class="text-white font-weight-bold" href="#">Mi página Personal</a>. Diseñado por Luis Villafana
    </p>
  </div>
  </div>
</div>

